<template>
  <div class="sign-in">
    <div class="form">
      <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
      <input ref="username" @keyup.enter="signIn" class="form-control mt-3" type="text" placeholder="Username" v-model="username">
      <input @keyup.enter="signIn" class="form-control mt-3 mb-3" type="password" placeholder="Password" v-model="password">
      <!-- Removed since I can't use cookies on localhost -->
      <!-- <div class="remember-me checkbox mb-3">
        <label>
          <input v-model="rememberMe" type="checkbox"/>
          Remember Me
        </label>
      </div> -->
      <button @click="signIn" class="btn btn-lg btn-primary btn-block">Sign In</button>
      <label v-show="loginFailed" class="error">Login failed. Please check that the username and password are correct.</label>
    </div>
  </div>
</template>

<script src="./sign-in.js">
</script>

<style scoped>
.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
</style>
