<template>
  <div>
    <h1 class="text-center">Cart</h1>
    <hr />
    <div v-if="products.length" class="cart-items">
      <div
        v-for="(product, index) in products"
        :key="`product-${index}`">
        <cart-item :remove="removeItem" :index="index" :product="product"></cart-item>
        <hr />
      </div>
    </div>
    <div class="mb-3" v-else>You have no items in your cart.</div>
    <p v-if="total() > 0" class="text-right"><strong>Total: </strong>R {{ total() }}</p>
    <button class="btn btn-primary" @click="$bvModal.hide('cart')">
      Close
    </button>
  </div>
</template>

<script src="./cart.js">
</script>

<style scoped>
.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: lightgray;
  height: 1px;
}
.total {
  justify-content: right;
}
</style>
