<template>
  <div class="row">
    <div class="col-md-12 contents">
      <div class="product-name">
        {{ product.name }}
      </div>
      <strong class="price ml-3">R {{ product.price }}</strong>
      <span
        @click="remove(index)"
        class="ml-3 clickable"
        ><font-awesome-icon class="delete" :icon="['fas', 'trash-alt']"
      /></span>
    </div>
  </div>
</template>

<script src="./cart-item.js">
</script>

<style scoped>
.product-name {
  flex-grow: 4;
}
.contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delete {
  color: red;
}
.clickable {
  cursor: pointer;
}
</style>
