<template>
  <div class="col-md-3 mb-3">
    <div class="product-item text-center">
      <div>
        <h5>{{ product.name }}</h5>

        <img class="image" :src="getImage(product.name)" />
        <p class="description">{{ product.description }}</p>
      </div>
      <div>
        <p>
          <strong>R {{ product.price }}</strong>
        </p>
        <button @click="addToCart(product)" class="btn btn-primary btn-block">
          <font-awesome-icon class="unpublished" :icon="['fas', 'cart-plus']" />
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</template>

<script src="./product-container.js">
</script>

<style scoped>
.image {
  height: 100px;
  width: 100px;
}
.product-item {
  border: 1px solid #ccc;
  margin: 5px;
  padding: 15px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
