<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <h1 class="h3 mb-3 font-weight-normal">Client portal</h1>
      </div>
      <div class="col-md-6 text-right">
        <button v-b-modal.cart class="btn btn-primary">
          <font-awesome-icon
            :icon="['fas', 'shopping-cart']"
          />
          View Cart ({{ productsInCart.length }}) - R {{ totalPrice() }}
        </button>
      </div>
    </div>
    <hr>
    <div class="row">
      <product-container v-for="product in products" :key="product.id" :product="product" :add-to-cart="addToCart">
      </product-container>
    </div>
    <b-modal :hide-header="true" :hide-footer="true" id="cart">
      <cart :itemRemoved="itemRemoved"></cart>
    </b-modal>
  </div>
</template>

<script src="./products.js">
</script>

<style>
.modal-backdrop {
     background-color: rgba(0, 0, 0, 0.5) !important;
}
</style>
