<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container mt-3" id="app">
  <router-view></router-view>
</div>

<style scoped>
</style>