<template>
  <div class="row">
    <div class="col-md-8">
      <h1 v-show="isEdit()">Edit User</h1>
      <h1 v-show="!isEdit()">Create User</h1>
      <div>
        <label class="mt-3 font-weight-bold" for="firstName">First Name: </label>
        <input
          class="form-control"
          name="firstName"
          type="text"
          v-model="user.firstName"
        />
        <label class="mt-3 font-weight-bold" for="lastName">Last Name: </label>
        <input
          class="form-control"
          name="lastName"
          type="text"
          v-model="user.lastName"
        />
        <label class="mt-3 font-weight-bold" for="userName">Username: </label>
        <input
          class="form-control"
          name="username"
          type="text"
          v-model="user.username"
        />
        <div v-show="!isEdit()">
          <label class="mt-3 font-weight-bold" for="password">Password: </label>
          <input
            class="form-control"
            name="password"
            type="text"
            v-model="user.password"
          />
        </div>
        <div v-show="!isEdit()">
          <label class="mt-3 font-weight-bold" for="repeatPassword"
            >Repeat Password:
          </label>
          <input
            class="form-control"
            name="repeatPassword"
            type="text"
            v-model="repeatPassword"
          />
        </div>
        <p
          class="error mt-3 font-weight-bold"
          v-if="user.password && $v.repeatPassword.$error"
          >Passwords do not match.</p
        >
        <label class="mt-3 font-weight-bold" for="role">Role: </label>
        <select class="form-control" v-model="user.roleId">
          <option v-for="role in roles" :key="role.id" v-bind:value="role.id">
            {{ role.name }}
          </option>
        </select>
        <button @click="saveUser()" class="btn btn-primary mt-3">Save</button>
        <p
          class="error mt-3 font-weight-bold"
          v-if="$v.$anyError"
          style="colour: red"
        >
          Please ensure all fields are filled in.
        </p>
      </div>
    </div>
  </div>
</template>

<script src="./edit-user.js">
</script>

<style scoped>
.error {
  color: red;
}
</style>
