<template>
  <div class="row">
    <div class="col-md-8">
      <h1 v-show="isEdit()">Edit Product</h1>
      <h1 v-show="!isEdit()">Create Product</h1>
      <label class="mt-3 font-weight-bold" for="name">Name: </label>
      <input
        class="form-control"
        name="name"
        type="text"
        v-model="product.name"
      />
      <label class="mt-3 font-weight-bold" for="description">Description: </label>
      <input
        class="form-control"
        name="description"
        type="text"
        v-model="product.description"
      />
      <label class="mt-3 font-weight-bold" for="image">Image: </label>
      <input
        name="image"
        class="form-control"
        type="file"
        accept="image/*"
        @change="imageChanged($event.target.name, $event.target.files)"
      />
      <div>
        <img
          class="image-container"
          v-show="product.imageData"
          :src="product.imageData"
        />
        <img
          class="image-container"
          v-show="!product.imageData && product.id"
          :src="getImage(product.name)"
        />
        <p class="mt-3 error font-weight-bold" v-if="requiresImage" style="colour: red">
          Please select an image.
        </p>
      </div>
      <label class="mt-3 font-weight-bold" for="price">Price: </label>
      <input
        class="form-control"
        name="price"
        type="text"
        v-model="product.price"
        @input="restrictDecimal()"
      />
      <div v-if="product.id">
        <label class="mt-3 mr-3 font-weight-bold" for="description">Published: </label>
        <font-awesome-icon
          class="published mr-3"
          v-show="!!product.publishedDate"
          :icon="['fas', 'check']"
        />
        <font-awesome-icon
          class="unpublished mr-3"
          v-show="!product.publishedDate"
          :icon="['fas', 'times']"
        />
        <button
          v-show="!product.publishedDate"
          @click="publish()"
          class="btn btn-success"
        >
          Publish
        </button>
        <button
          v-show="!!product.publishedDate"
          @click="unpublish()"
          class="btn btn-danger"
        >
          Unpublish
        </button>
      </div>
      <button @click="save()" class="mt-3 btn btn-primary">Save</button>
      <p class="mt-3 error font-weight-bold" v-if="$v.$anyError" style="colour: red"
        >Please ensure all fields are filled in.</p>
    </div>
  </div>
</template>

<script src="./edit-product.js">
</script>

<style scoped>
.error {
  color: red;
}
.published {
  color: green;
}
.unpublished {
  color: red;
}
.image-container {
  max-height: 200px;
  max-width: 200px;
}
</style>
