<template>
  <div>
    <div>
      <b-tabs pills content-class="mt-3">
        <b-tab active v-if="canViewUsersPage()" title="Users">
          <user-management></user-management>
        </b-tab>
        <b-tab v-if="canViewProductsPage()" title="Products">
          <product-management></product-management>
        </b-tab>
      </b-tabs>
    </div>
  </div>
</template>

<script src="./management.js">
</script>

<style scoped>
.container {
  display: flex;
  align-items: top;
  justify-content: center;
  height: 100vh;
}
</style>
