<template>
  <div>
    <h1 class="mb-3 font-weight-normal">Product Management</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Thumbnail</th>
        <th>Cost</th>
        <th>Published</th>
        <th v-if="canPublish()"></th>
        <th v-if="canManageProduct()"></th>
        <th v-if="canManageProduct()"></th>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>
            <img class="thumbnail" :src="getImage(product.name)" />
          </td>
          <th>R {{ product.price }}</th>
          <td class="text-center">
            <font-awesome-icon
              v-show="!!product.publishedDate"
              class="published"
              :icon="['far', 'check-square']"
            />
          </td>
          <td class="text-center" v-if="canPublish()">
            <button
              v-show="!product.publishedDate"
              @click="publishProduct(product.id)"
              class="btn btn-success btn-block"
            >
              Publish
            </button>
            <button
              v-show="!!product.publishedDate"
              @click="unpublishProduct(product.id)"
              class="btn btn-danger btn-block"
            >
              Unpublish
            </button>
          </td>
          <td class="text-center" v-if="canManageProduct()">
            <span @click="editProduct(product.id)" class="clickable"
              ><font-awesome-icon class="edit" :icon="['fas', 'edit']"
            /></span>
          </td>
          <td class="text-center" v-if="canManageProduct()">
            <span
              @click="deleteProduct(product.id, product.name)"
              class="clickable"
              ><font-awesome-icon class="delete" :icon="['fas', 'trash-alt']"
            /></span>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      v-if="canCreateProducts()"
      @click="editProduct(0)"
      class="btn btn-primary"
    >
      Create new product
    </button>
  </div>
</template>

<script src="./product-management.js">
</script>

<style scoped>
.clickable {
  cursor: pointer;
}
.edit {
  color: dodgerblue;
}
.delete {
  color: red;
}
.published {
  color: green;
}
.thumbnail {
  max-width: 50px;
  max-height: 50px;
}
</style>
