<template>
  <div>
    <h1 class="mb-3 font-weight-normal">User Management</h1>
      <table class="table table-bordered table-striped">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ getRoleName(user.roleId) }}</td>
            <td class="text-center">
              <span
                @click="editUser(user.id)"
                class="clickable"
                ><font-awesome-icon class="edit" :icon="['fas', 'edit']"/></span>
            </td>
            <td class="text-center">
              <span
                v-show="user.id !== currentUserId"
                @click="deleteUser(user.id, user.firstName, user.lastName)"
                class="clickable"
                ><font-awesome-icon class="delete" :icon="['fas', 'trash-alt']"/></span>
            </td>
          </tr>
        </tbody>
      </table>
      <button @click="editUser(0)" class="btn btn-primary">Create new user</button>
    </div>
</template>

<script src="./user-management.js">
</script>

<style scoped>
.clickable {
  cursor: pointer;
}
.edit {
  color: dodgerblue;
}
.delete {
  color: red;
}
</style>
